@model List<Pinch.SDK.Payers.Payer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Woo payers</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var payer in Model)
    {
        <tr>
            <td>@payer.Id</td>
            <td>@payer.FirstName</td>
            <td>@payer.LastName</td>
            <td>@payer.EmailAddress</td>
        </tr>
    }
    </tbody>
</table>