@using Newtonsoft.Json
@model Pinch.SDK.Payments.PaymentDetailed

@{
    ViewBag.Title = "Payment Details";
}

<h2>Payment Details</h2>

<p>
    <pre>@JsonConvert.SerializeObject(Model, Formatting.Indented)</pre>
</p>
