@using System.Security.Cryptography.X509Certificates
@model Pinch.SDK.Merchants.MerchantUpdateOptions

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Managed Merchant</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BankAccountName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountName" class="form-control" />
                <span asp-validation-for="BankAccountName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BankAccountNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountNumber" class="form-control" />
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>
        </div>         
        <div class="form-group">
            <label asp-for="BankAccountRoutingNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountRoutingNumber" class="form-control" />
                <span asp-validation-for="BankAccountRoutingNumber" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="StreetAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="Suburb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Suburb" class="form-control" />
                <span asp-validation-for="Suburb" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="Postcode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="BankStatementLabel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankStatementLabel" class="form-control" />
                <span asp-validation-for="BankStatementLabel" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="CompanyRegistrationNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyRegistrationNumber" class="form-control" />
                <span asp-validation-for="CompanyRegistrationNumber" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="CompanyWebsiteUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyWebsiteUrl" class="form-control" />
                <span asp-validation-for="CompanyWebsiteUrl" class="text-danger"></span>
            </div>
        </div>         
        <div class="form-group">
            <label asp-for="NatureOfBusiness" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NatureOfBusiness" class="form-control" />
                <span asp-validation-for="NatureOfBusiness" class="text-danger"></span>
            </div>
        </div>  
        
        <h4>Contacts</h4>
        @for (int i = 0; i < Model.Contacts.Count(); i++)
        {
            <input type="hidden" asp-for="Contacts[i].Id" />

            <div class="form-group">
                <label class="col-md-2 control-label">First Name</label>
                <div class="col-md-10">
                    <input asp-for="Contacts[i].FirstName" class="form-control"/>
                    <span asp-validation-for="Contacts[i].FirstName" class="text-danger"></span>
                </div>
            </div>         
            <div class="form-group">
                <label asp-for="Contacts[i].LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Contacts[i].LastName" class="form-control" />
                    <span asp-validation-for="Contacts[i].LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Contacts[i].ContactType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Contacts[i].ContactType">
                        <option value="owner">Owner</option>
                        <option value="director">Director</option>
                        <option value="shareholder">Shareholder</option>
                        <option value="executive">Executive</option>
                    </select>
                    <span asp-validation-for="Contacts[i].ContactType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Contacts[i].Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Contacts[i].Phone" class="form-control" />
                    <span asp-validation-for="Contacts[i].Phone" class="text-danger"></span>
                </div>
            </div>   
            <div class="form-group">
                <label asp-for="Contacts[i].Dob" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Contacts[i].Dob" class="form-control" />
                    <span asp-validation-for="Contacts[i].Dob" class="text-danger"></span>
                </div>
            </div>   
            <div class="form-group">
                <label asp-for="Contacts[i].GovernmentNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Contacts[i].GovernmentNumber" class="form-control" />
                    <span asp-validation-for="Contacts[i].GovernmentNumber" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
