@model Pinch.SDK.Merchants.ManagedMerchantCreateOptions

@{
    ViewData["Title"] = "New Managed Merchant";
}

<h2>New</h2>

<form asp-action="NewManaged">
    <div class="form-horizontal">
        <h4>Managed Merchant</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Company Registration Number</label>
            <div class="col-md-10">
                <input asp-for="CompanyRegistrationNumber" class="form-control" />
                <span asp-validation-for="CompanyRegistrationNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BankAccountName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountName" class="form-control" />
                <span asp-validation-for="BankAccountName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BankAccountRoutingNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountRoutingNumber" class="form-control" />
                <span asp-validation-for="BankAccountRoutingNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BankAccountNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountNumber" class="form-control" />
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LegalStreetAddress" class="col-md-2 control-label">LegalStreetAddress</label>
            <div class="col-md-10">
                <input asp-for="LegalStreetAddress" class="form-control" />
                <span asp-validation-for="LegalStreetAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LegalSuburb" class="col-md-2 control-label">LegalSuburb</label>
            <div class="col-md-10">
                <input asp-for="LegalSuburb" class="form-control" />
                <span asp-validation-for="LegalSuburb" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LegalState" class="col-md-2 control-label">LegalState</label>
            <div class="col-md-10">
                <input asp-for="LegalState" class="form-control" />
                <span asp-validation-for="LegalState" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LegalPostcode" class="col-md-2 control-label">LegalPostcode</label>
            <div class="col-md-10">
                <input asp-for="LegalPostcode" class="form-control" />
                <span asp-validation-for="LegalPostcode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Legal Country (Only AU, US, UK; at the moment)</label>
            <div class="col-md-10">
                <input asp-for="LegalCountry" class="form-control" />
                <span asp-validation-for="LegalCountry" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TradingStreetAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TradingStreetAddress" class="form-control" />
                <span asp-validation-for="TradingStreetAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TradingSuburb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TradingSuburb" class="form-control" />
                <span asp-validation-for="TradingSuburb" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TradingState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TradingState" class="form-control" />
                <span asp-validation-for="TradingState" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TradingPostcode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TradingPostcode" class="form-control" />
                <span asp-validation-for="TradingPostcode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Trading Country (Only AU, US, UK; at the moment)</label>
            <div class="col-md-10">
                <input asp-for="TradingCountry" class="form-control" />
                <span asp-validation-for="TradingCountry" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <input type="hidden" asp-for="Contacts[0].IsPrimaryContact" />
        <div class="form-group">
            <label asp-for="Contacts[0].FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].FirstName" class="form-control" />
                <span asp-validation-for="Contacts[0].FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts[0].LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].LastName" class="form-control" />
                <span asp-validation-for="Contacts[0].LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts[0].Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].Email" class="form-control" />
                <span asp-validation-for="Contacts[0].Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts[0].Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].Phone" class="form-control" />
                <span asp-validation-for="Contacts[0].Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts[0].Dob" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].Dob" class="form-control" />
                <span asp-validation-for="Contacts[0].Dob" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts[0].GovernmentNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts[0].GovernmentNumber" class="form-control" />
                <span asp-validation-for="Contacts[0].GovernmentNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
