@model Pinch.SDK.WebSample.ViewModels.IndexVm
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Sample Application</h1>
<p>This sample MVC app shows you how to successfully integrate with Pinch!</p>

